body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    height: 200vh;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#about,
#projects,
#mario-robot,
#detective-robot,
#assembly-clock,
#ac-ionic-thruster {
    scroll-margin-top: 70px;
}

.content-section {
    padding: 0px 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: normal;
}

.content-section h2 {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.2em;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 20px
}

.content-section h3 {
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8em;
    font-weight: normal;
    margin-left: 10px;
    margin-bottom: 20px
}

/* #projects {
    position: relative;
} */

.content-section p {
    margin-left: 20px;
    font-size: 0.7em;
    margin-bottom: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
}

.content-section a {
    color: #a6c8f9;
    text-decoration: none;
    margin: 0, 15px;
    margin-right: 80px;
}

.content-section a:last-child {
    margin-right: 0;
}

.content-section a:hover {
    color: #4b92f6;
}

#table-of-contents a {
    color: #ffffff;
}

#table-of-contents a:hover {
    color: #afaeae;
}

.image-container {
    text-align: center;
}

.image-container img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    margin-bottom: 5px;
}

.image-sequence-container {
    text-align: center;
}

.image-sequence {
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
}

.image-sequence img {
    display: none;
}

.image-sequence img.active {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.caption {
    text-align: center;
    font-size: 0.6em;
    margin-top: 0px;
    color: #ffffff;
}

.horizontal-line {
    width: 30%;
    height: 2px;
    background-color: #a9a4a4;
    margin: 0 auto;
}

.bottom-spacer-top {
    height: 325px;
}

.bottom-spacer-bottom {
    height: 10px;
}


p.footnote {
    text-align: center;
    font-size: 0.4em;
    margin-bottom: 0;
    padding-bottom: 0;
}